/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework/sessions/ZsX8t2mFJNJEFbVFZbRICRzfy5Rbb7nddhN4nZTD
/storage
storage/framework/cache/data/62/80/628015fd0d3b4e3260acd0aa04bedd15ccc72957
/storage
/storage/framework/views
/storage
/storage/framework
/storage/framework/views
/storage/framework
storage/framework/views/f025081ecc536a0dcac6163311b00c6a.php
/storage/framework/views
/storage/framework/cache/data/62/80
/storage/framework/cache/data/85
/storage/framework
/storage
/storage/framework
